
name: Build Firmware

on:
  push:
    tags:
      - '*'
  pull_request:
    branches:
      - master
      - main
      - develop
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Touch file
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          echo $PR_NUMBER > test.txt

      - name: Archive file
        uses: actions/upload-artifact@v3
        with:
          name: artifact-name-comes-here
          path: test.txt
